*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

#logo-part{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 15px;
}


body{
    
    color:black;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(255,255,255,1) 100%);
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}


.nav-main a{
    
    color :black;
} 

a{
color: black;
text-decoration-color:none;
}

hr{
    margin: 10px 0;
}

ul {
    list-style:none;
}

/*Contenenedor y sección principal */
.container{
    width: 90%;
    margin: auto;
}

.nav-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav-main >ul{
    display: table;
    overflow: hidden;
    width: 100%;
    background: white;
    position:relative;
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    -ms-transition:1s;
    -o-transition:1s;
}

.nav-main >ul>li{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}



.nav-main >ul>li:hover{
    /* opacity: .5; */
    color: white;
    background-color: blue;
}

.nav-main >ul>li>a:hover{
    
    color: white;
    
}

.nav-main > ul li{
    display: table-cell;
}

.nav-main > ul > li >ul {
    display: none;
}

/* Orde para el logo*/
.nav-brand {
    width: 60px;
    padding: 10px
}

.nav-main > ul li a{
    color: rgb(0, 0, 0);
    display: block;
    line-height: 20px;
    padding:20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
} 

.nav-main > ul > li > ul > li a:hover{
    background: #5da5a2;
}

/*Dcoumentación de error de interfaz NAV
.nav-main >ul>li>a {
    background: #174459;
    display: block;
    height:50%;
    width: 50%;
    left: 0;
    position: absolute;
    top: -55px;

}
*/

.nav-main >ul>li>a span .icon {
    display: block;
    line-height: 60px;

}






/*ShowCase*/

.showcase{
    width: 100%;
    height: 400px;
    background: url('./img/Portada.jpg') no-repeat center center/cover;
    padding-top: 10px 10px;
    padding-bottom: 10px; /*espaciado interno*/
    margin-bottom: 20px; /*espaciado externo*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}



.btn{
    background-color: #4CAF50;
    /*Green*/border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    margin: 10px;
}

.btn {
    background-color: transparent; 
    color: black; 
    /* border: 2px solid #060552; */
}

.btn:hover{
    opacity: .7;
    background-color: #060552;
    color: white;
}

.showcase p {
    margin-bottom: 10px 10px; /* Margenes*/
    color: black;
    
   }

   .showcase h1{
    color: black;

   }

/*New-Cards o Trabajos*/

.cards-products{
    background-color: white;
    border-radius: 9px;
    padding: 10px;
}

.news-cards{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*coludnados*/
    gap: 25px;  /*Espaciados*/
    margin: 10px 0px;
}

.news-cards img{

    width: 100%;
    height: 180px;
}

.news-cards h3{
    font-size: 20px;
    margin: 10px 0px;
}

.news-cards a{
    padding: 10px 0px; /*Separar los lados*/
    color: black;
    display: inline-block; /*Un pequeño foco*/
    text-transform: uppercase; /*Agregar MAYUSCULAS*/
    font-weight: bold; /* agrgar negrilla*/

}

.news-cards a:hover{
    text-decoration:wavy;
}

/*Cards Banner-One  Divicion de primer banner*/

.cards-banner-one {

    width: 100%;
    height: 400px;
    background: url(./img/banner.jpg) no-repeat center center/cover;
    margin-bottom: 40px;
}

.cards-banner-one .content{

    width: 40%;
    padding: 90px 0px 0px 30px;
    color: white;
    
   
}

.cards-banner-one p,
.cards-banner-one h2,
.cards-banner-one a{

margin: 20px 0 20px 0;
color: black;

}

/*Cards Banner TWO*/

.cards-banner-two{
    height: 350px;
    width: 100%;
    background: url(./img/Mantenimientos.jpg) no-repeat center center/cover; 
}

.cards-banner-two .content{

    width: 50%;
    padding: 100px 0 0 30px;
    color: black;
}

/*Social*/
.social {
    margin: 50px;

}

.social p{
 text-align: center;
 font-size:30px;
 margin-bottom: 20px;
}

.links{
    display: flex;
    align-items:center;
    justify-content: center;
    
}

.cards-banner-two p,
.cards-banner-two h2,
.cards-banner-two a{

margin: 20px 0 20px 0;
color: black;

}

.links a{
    margin: 0 30px;
}
.links a i {
    font-size:3rem;
}

.slide-wrap{
    width: 100%;
    height: 300%;
    
    
}

.slide-wrap img{
    width: 100%;
    height: 100%
    
}

/*Footer - Links*/
.footer-links{
    background: gray;
    color: whitesmoke;
    font-size: 12px;
    padding: 35px 0px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /*Espaciado Interno*/
    gap:10px;
    align-items: flex-start;
    justify-content: center;
}
/*Efecto de estabilidad de Columnas*/
.footer-container ul{
margin: 0 auto;
}

.footer-container ul li{
    line-height: 2;
}

.footer{
/*Para gornaizar el texto, interesante */
    background: #2f3640;
    color: 616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}